<%-include("partials/header") %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">ProjectManager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
     <li class="nav-item active">
        <a class="nav-link" href="/create/new">Create </a>
     </li>
     <li class="nav-item active">
        <a class="nav-link" href="/join">Join </a>
     </li>
      <li class="nav-item active">
        <a class="nav-link" href="/secret">YourCreation </a>
     </li>
     <li class="nav-item active">
        <a class="nav-link" href="/joinshow/<%=user.username%>">YourJoined</a>
     </li>
    </ul>
    <ul class=" navbar-nav  nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href=""><i class="user icon"></i><%=user.username%></a>
  </li>
   <li class="nav-item">
    <a class="nav-link active" title="LogOut" href="/logout"><i class="sign out alternate icon"></i></a>
  </li>
 
</ul>
   
  </div>
</nav>
 <h1 class="space"></h1>
  <div class="container mt-5">
 <% if(error && error.length>0){%>
  <div class="alert alert-danger" role="alert">
 <%=error%>
</div>
 <% } %>
  <% if(success && success.length>0){%>
<div class="alert alert-success" role="alert">
 <%=success%>
</div>
 <% } %>
</div>



  <div class="container">
    <h1 class="white display-4">Your Joined Work</h1>
  

<% found.forEach(function(createdwork){ %>
<div class="card">
  <div class="card-header">
  <div class="d-flex justify-content-between">
      WorkID : <%=createdwork.code%> 
      <p>Creator:<%=createdwork.creator%></p>
  </div>
   
  
    
  </div>
  <div class="card-body">
    <h5 class="card-title"> <%=createdwork.title%></h5>
    <p class="card-text"> <%=createdwork.describe%></p>
    <div class="d-flex justify-content-start">
       <a href="/show/<%=createdwork.id%>" class="btn btn-md btn-success">Go Inside</a>
    <form action="/deletejoin/<%=createdwork._id%>/<%=user.username%>?_method=DELETE" method="POST">
      <button type="submit" class="btn btn-md ml-2 btn-danger">Leave</button>
    </form>
   
    </div>
   
  </div>
</div>

 

<% })%>


  
  </div>





<%-include("partials/footer") %>

