<%-include("partials/header") %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">ProjectManager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
     
     <li class="nav-item active">
        <a class="nav-link" href="/create/new">Create </a>
     </li>
     <li class="nav-item active">
        <a class="nav-link" href="/">Join </a>
     </li>
     <li class="nav-item active">
        <a class="nav-link" href="/secret">YourCreation </a>
     </li>
     <li class="nav-item active">
        <a class="nav-link" href="/">YourJoined</a>
     </li>
    </ul>
    <ul class=" navbar-nav  nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href=""><i class="user icon"></i><%=user.username%></a>
  </li>
   <li class="nav-item">
    <a class="nav-link active" title="LogOut" href="/logout"><i class="sign out alternate icon"></i></a>
  </li>
 
</ul>
   
  </div>
</nav>


 <h1 class="space"></h1>
  





    <div class="container">


<form class="form-group" action="/show/<%=found._id%>/comment/<%=user.username%>" method="POST">
   <div class="d-flex flex-column align-items-center">
    <h1 class="white" >Add Your View</h1>
     <textarea  class="form-control mb-4 " style="width:35%"  name="comment"></textarea>
       
      <button class="btn btn-success " style="width:35%"  type="">Create</button>
      
   </div>
   
</form>

</div>
<%-include("partials/footer") %>