<%-include("partials/header") %>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <a class="navbar-brand" href="/">ProjectManager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
     
     <li class="nav-item active">
        <a class="nav-link" href="/create/new">Create </a>
     </li>
     <li class="nav-item active">
        <a class="nav-link" href="/join">Join </a>
     </li>
     <li class="nav-item active">
        <a class="nav-link" href="/secret">YourCreation </a>
     </li>
     <li class="nav-item active">
        <a class="nav-link" href="/joinshow/<%=user.username%>">YourJoined</a>
     </li>
    </ul>
    <ul class=" navbar-nav  nav justify-content-end">
  <li class="nav-item">
    <a class="nav-link active" href=""><i class="user icon"></i><%=user.username%></a>
  </li>
   <li class="nav-item">
    <a class="nav-link active" title="LogOut" href="/logout"><i class="sign out alternate icon"></i></a>
  </li>
 
</ul>
   
  </div>
</nav>
 <h1 class="space"></h1>


  <div class="container">
      <div class="img-thumbnail">
            <h1 class="display-4"><%=found.title%></h1>
             <div class="d-flex justify-content-between">
             <p class="lead"><%=found.describe%></p>
                  <a href="/show/<%=found._id%>/comment/new" class="btn  btn-success white">Add Your Views</a>
              </div>
            
          
            <% found.works.forEach(function(foundOne){%>
              <div class="img-thumbnail">
             
              
                  <p><strong><%=foundOne.username%></strong></p>
                    <% if(user && foundOne.id == user._id){ %>
                   <div class="d-flex justify-content-start">
                 
                   <a href="/commentedit/<%=foundOne.username%>/<%=found._id%>" class="btn btn-sm btn-info mr-2">Edit</a>
                 <div>
                  <form class="formshow" action="/delete/<%=user.username%>/<%=foundOne._id%>/<%=found._id%>?_method=DELETE" method="POST">
                           <button  type="submit" class="btn btn-sm btn-danger">Del</button>
                  </form>
                 </div>
                  
              
               </div>
                 <%}%>
                 <p><%=foundOne.comment%></p>
              </div>
            <% }) %>

            
                
          
      </div>

      
  </div>

 <%-include("partials/footer") %>
